{% extends "layout.html" %}

{% block body %}

<div class="jumbotron bg-primary text-white text-left">
    <h3>About Charticle</h3>
</div>
<p>
    <h5>
        Hello! My name is Dogan.
    </h5>
</p>
<p>
    I'm creator of the <b>Charticle</b>.
</p>
<p>
    You can write articles about your favorite fictional characters.
</p>
<p>
    Enjoy, write, and share.
</p>
<br>
<p>
    <em>
        You can visit my <a href="https://github.com/doganseyfisen" target="_blank">GitHub</a> and <a href="https://www.linkedin.com/in/doganseyfisen/" target="_blank">LinkedIn</a> pages to contact me.
    </em>
</p>
<hr>

{% endblock  %}